$teal1: #65C6BB; 
$teal2: #7CEECE;
$brown1: #8F6F40;
$brown2: #6F532A;
$brown3: #523D1F;

html{
	width: 100%;
}
body {
	color: #fff;
	font-family: 'Vollkorn', serif;
	text-align: center;
	width: 100%;
}
p{
	font-size: 16px;
}
a, a:active, a:visited {
	color: #fff;
}
a:hover {
	color: $teal2;
	text-decoration: none;
}

#body { 
    background: url(../images/moka.jpg) no-repeat center center fixed; 
    background-size: cover;
    height: 500px;  
    margin: 0 auto; 
    width: 100%; 
    position: relative; 
    padding: 0px 0px;
    color: #fff;
}

.divider {
	display: block;
	padding: 100px;
	margin: 0 auto;
	transform: skewY(190deg);
}
.content {
	transform: skewY(-10deg);
	margin: 0 auto;
	max-width: 900px;
	padding: 50px;
}
.inner {
	margin-top: -150px;
}
.fa-stack {
	z-index: 1;
	top: -200px;
}

/* TOP ============= */
.splash {
	height: 500px;
}
.title {
	padding: 100px;
	font-family: 'Lato', sans-serif;
}
.title h1 {
	font-size: 90px;
	font-weight: 900;
}
.title h4{
	color: $teal2;
}
.menu {
	float: right;
	margin-top: 90px;
}
.menu ul li {
	display: inline;
	text-transform: uppercase;
	margin-right: 20px;
	font-size: 15px;
}

/* ABOUT =============*/

.about {
	background: $teal1;
}
#about-i {
	color: $teal1;
}
.self {
	margin-top: 50px;
	padding: 50px 0;
	border: 1px solid #fff;
	border-radius: 50px;
}

/* SKILLS ============*/
.skills {
	background: $brown3;
}
#skills-i {
	color: $brown3;
}
.skillback {
	border: 3px solid $brown3;
	background: $brown2;
	padding: 50px 0;
	margin-bottom: 10px;

	transition-duration: .3s;
	transition-property: transform;

	&:hover {
		transform: translateY(-10px);
	}
}
.skillback i {
	color: $teal2;
	padding: 10px;
}
.skillback p {
	padding: 10px;
}

/* PORTFOLIO ==========*/
.portfolio {
	background: $brown1;
}
#portfolio-i {
	color: $brown1;
}

/* BLOG ============*/
.blog {
	background: $brown2;
}
#blog-i {
	color: $brown2;
}


/* FOOTER =========*/
.footer {
	width: 100%;
}
.bottom-space {
	padding: 150px 0;
}
.bottom{
	padding: 50px;
	transform: skewY(190deg);
	background: rgba(162, 222, 208, .7);
}
.bottom ul li {
	display: inline;
	margin-right: 20px;
}














