html {
  width: 100%; }

body {
  color: #fff;
  font-family: 'Vollkorn', serif;
  text-align: center;
  width: 100%; }

p {
  font-size: 16px; }

a, a:active, a:visited {
  color: #fff; }

a:hover {
  color: #7CEECE;
  text-decoration: none; }

#body {
  background: url(../images/moka.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 500px;
  margin: 0 auto;
  width: 100%;
  position: relative;
  padding: 0px 0px;
  color: #fff; }

.divider {
  display: block;
  padding: 100px;
  margin: 0 auto;
  transform: skewY(190deg); }

.content {
  transform: skewY(-10deg);
  margin: 0 auto;
  max-width: 900px;
  padding: 50px; }

.inner {
  margin-top: -150px; }

.fa-stack {
  z-index: 1;
  top: -200px; }

/* TOP ============= */
.splash {
  height: 500px; }

.title {
  padding: 100px;
  font-family: 'Lato', sans-serif; }

.title h1 {
  font-size: 90px;
  font-weight: 900; }

.title h4 {
  color: #7CEECE; }

.menu {
  float: right;
  margin-top: 90px; }

.menu ul li {
  display: inline;
  text-transform: uppercase;
  margin-right: 20px;
  font-size: 15px; }

/* ABOUT =============*/
.about {
  background: #65C6BB; }

#about-i {
  color: #65C6BB; }

.self {
  margin-top: 50px;
  padding: 50px 0;
  border: 1px solid #fff;
  border-radius: 50px; }

/* SKILLS ============*/
.skills {
  background: #523D1F; }

#skills-i {
  color: #523D1F; }

.skillback {
  border: 3px solid #523D1F;
  background: #6F532A;
  padding: 50px 0;
  margin-bottom: 10px;
  transition-duration: .3s;
  transition-property: transform; }
  .skillback:hover {
    transform: translateY(-10px); }

.skillback i {
  color: #7CEECE;
  padding: 10px; }

.skillback p {
  padding: 10px; }

/* PORTFOLIO ==========*/
.portfolio {
  background: #8F6F40; }

#portfolio-i {
  color: #8F6F40; }

/* BLOG ============*/
.blog {
  background: #6F532A; }

#blog-i {
  color: #6F532A; }

/* FOOTER =========*/
.footer {
  width: 100%; }

.bottom-space {
  padding: 150px 0; }

.bottom {
  padding: 50px;
  transform: skewY(190deg);
  background: rgba(162, 222, 208, 0.7); }

.bottom ul li {
  display: inline;
  margin-right: 20px; }
